{% extends 'learning_logs/base.html' %}
{% block title %} <title>Delte Entry | {{entry.entry_title }}</title> {% endblock title %}

{% block content %}
<h1>Confirm You Want To Delete An Entry.</h1>
<p>You are about to delete the entry: <strong>{{entry.entry_title}}</strong>, in the topic <strong>{{entry.entry_topic}}</strong><br>
	Once this entry is deleted from the database, you won't recover it
</p>

<form action="" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="Delete" class="btn btn-sm btn-danger">
</form>
{% endblock content %}