{% extends 'learning_logs/base.html' %}

{% block content  %}
	<div class="container">
		<h1>{{entry.entry_title}}</h1>
		<p>
			<small>Added on <b>{{entry.date_added|date:"M d, y" }}</b>  at  <b>{{entry.date_added|date:"h:iA" }}</b>, {{ entry.date_added|timesince }} ago  |  <a href=""><span class="badge badge-dark">{{entry.entry_topic}}</span></a> </small>
		</p>

		<div class="container">
			<p>{{entry.entry_text}} {% lorem 3 p %}</p>
			<hr>
			<p>
				<a href="{% url 'delete-entry' entry.id %}" class="btn btn-sm btn-dark"> Delete </a>
			</p>
		</div>

		<small></small>
	</div>
{% endblock content  %}