{% extends 'learning_logs/base.html' %}
{% block title %} <title> All Entries </title> {% endblock title %}

{% block content %}
	<h1>All Entries </h1>
	<div class="container">
		<ul>
			{% for entry in object_list %}
			
				<li>
					<p class="lead"><a href="{% url 'entry-detail' entry.id %}" class=""> {{entry.entry_title}} - ({{entry.topic.owner}})</a></p>
				</li>
			{% empty %}
			<p>There are no entries in your account. When you create an entry, it will appear here.</p>
			{% endfor %}
		</ul>
	</div>
{% endblock content %}