{% extends 'learning_logs/base.html' %}

{% block title %} <title>Learning Logs | Home </title> {% endblock title %}

{% block content %}

	<div class="text-center">
		<h1>Welcome To Learning Log!</h1>
		<p>A platform that enables you keep track of what you learn in multiple topics!</p>
	</div>

	<div class="container recent-entries">
		<h2 class="my-4 text-center">Recent Entries ({{entry_count}}) </h2>
		<div class="text-center">
			<a href="{% url 'new-entry' %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Create New Entry </a>
			<a href="{% url 'add-topic' %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add Topic</a>
		</div>
		{% for entry in entries %}
			
			<div class="home-entry p-5">
				<h3> <a href="{% url 'entry-detail' entry.id %}"> {{entry.entry_title}} </a></h3>
				<p>
					{{entry.entry_text}}
				</p>
				
				<small>{{entry.date_added|date:'M d, y'}} | {{entry.date_added|timesince}} ago | <a href="{% url 'topic-detail' entry.entry_topic.id %}"> <span class="text-small badge badge-dark">{{entry.entry_topic}}</span></a> </small>
				<hr>

			</div>

		{% endfor %}
	</div>
{% endblock content%}