{% extends 'learning_logs/base.html' %}

{% block title %} <title>Learning Logs | Home </title> {% endblock title %}

{% block content %}

	<div class="text-center container">
		{% if user.is_authenticated %}
		<h1>Welcome, {{user.username|title}}! </h1>
		<p class="lead">
			{{user|title}}, Lets keep your notes organised with this learning log.
			Browse topics you have created and see all notes you added in those topics.
		</p>

		<div class="text-center">
			<a href="{% url 'topics' %}" class="btn btn-sm btn-primary">  View Your Topics  <i class="fa fa-chevron-right"></i> </a>
		</div>

		{% else  %}
		<p>
			Make your own Learning Log, and keep a list of the topics you're learning about.
			Whenever you learn something new about a topic, make an entry summarizing what you've learned.
		</p>

		<a href="{% url 'login' %}" class="btn btn-primary">Register</a>
		<a href="{% url 'login' %}" class="btn btn-white"> <i class="fa fa-sign-in"></i> Login Now </a>
		{% endif %}
	</div>


{% endblock content%}