{% extends 'learning_logs/base.html' %}
{% block title %} <title>Learning Log Topics </title> {% endblock title %}

{% block content %}
	<h1>Topics </h1>
	<a href="{% url 'add-topic' %}" class="btn btn-primary"> <i class="fa fa-plus"></i> Add Topic</a>
<hr>
	<ul>
		{% for topic in object_list %}

		<li class="my-4">
			<p class="lead"><a href="{% url 'topic-detail' topic.id %}"> {{ topic }}</a> </p>
			<a href="{% url 'update-topic' topic.id %}" class="btn btn-sm btn-success">
				<i class="fa fa-edit"></i> Edit
			</a> 
			
			<a href="{% url 'delete-topic' topic.id %}" class="btn btn-sm btn-danger">
				<i class="fa fa-trash"></i> Delete
			</a>

			<p><small>Added {{topic.date_added|timesince}} ago.</small></p>
			<hr>
		</li>

		{% empty %}
		<li>No topics to show - <a href="{% url 'add-topic' %}"> Add Topic </a> </li>
		{% endfor %}

	</ul>

		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1" class="btn">&laquo;</a>
					<a href="?page={{ page_obj.previous_page_number }}" class="btn"><i class="fa fa-chevron-left"></i></a>
				{% endif %}

				<span class="current">
					{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}" class="btn"><i class="fa fa-chevron-right"></i></a>
					<a href="?page={{ page_obj.paginator.num_pages }}" class="btn"> &raquo;</a>
				{% endif %}
			</span>
		</div>

		<hr>

{% endblock content %}