{% extends 'learning_logs/base.html' %}
{% block title %}
	<title>Delete {{topic}}</title>
{% endblock title %}

{% block content %}
	<h1>Delete  <u>{{topic}}</u>?</h1>
	<p>You won't recover this topic and all content in this topic once it is deleted from the database.</p>

	<form action="" method="post">
		{% csrf_token %}
		<a href="{% url 'topics' %}" class="btn btn-success my-2">Keep {{topic}}</a>
		<input type="submit" value="Delete {{topic}}" class="btn btn-danger my-2">
	</form>
{% endblock content %}