{% extends 'learning_logs/base.html' %}

{% block title %} <title>Learning Log {{topic}}</title> {% endblock %}

{% block content %}
	<h1>{{topic}}</h1>
	<a href="{% url 'new-entry' topic.id %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add Entry</a>

	<div class="container my-4">
		<ul>
			{% for entries in topic.entry_set.all %}
				<li>
					<h2>{{entries.entry_title}}</h2>
					<p>{{entries.entry_text}}</p>

					<p><small><a class="btn btn-sm btn-dark" href="{% url 'edit-entry' entries.id %}"><span class="fa fa-edit"></span></a> | <a class="btn btn-sm btn-dark" href="{% url 'delete-entry' entries.id %}"><span class="fa fa-trash"></span></a></small></p>
					<hr>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock content %}